[submodule "thirdparty/frog"]
	path = thirdparty/frog
	url = https://github.com/hugocotoflorez/frog
[submodule "thirdparty/load_obj"]
	path = thirdparty/load_obj
	url = https://github.com/hugocotoflorez/load_obj
